
.cards
{
    margin:1.5rem 2.6rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    text-align: center;
    justify-content: center;
    
}
.card{
  margin:1.2rem 0.8rem;
 
}
h1{
  text-align: center;
  margin-top: 1.2rem;
}
span{
  color:#0064ff;
  text-decoration: underline;
}
.navbar
{
  display: flex;
  justify-content: center;
  background-color:black;
  color:white;

}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul li{
  display: inline-flex;
  margin: 0rem 2rem;
 margin-top: 1.2rem; 
 background: none;
 border: none;
 color: white;
}
ul li:hover
{
  text-decoration: underline;
  cursor: pointer;
}